:root {
    --primary-color: rgb(79, 33, 234);
    --secondary-color: rgb(216, 216, 216);
    --background-color: rgb(24, 24, 26);
    --text-color: rgb(216, 216, 216);
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Google Sans", "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
