@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #333;
}

.card-title {
    font-family: 'Playfair Display', serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

.card {
    margin-bottom: 20px;
}
